.primary{
    background-color: #364ff4;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    transition: all 0.3s ease-in-out;
}

.secondary{
    background-color: #1c9711;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    outline: none;
    transition: all 0.3s ease-in-out;
}